html, body {
    margin: 0;

    color: black;
    background-color: #eee;
    font-family: "Times New Roman", Times, serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* ********** */
/* Mobile CSS */
/* ********** */

/** header styling **/
header {
    display: grid;
    grid-template-areas: 
        "header_logo header_title header_nav"
        "header_logo header_link header_nav" ;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: black;
}

.header_logo {
    grid-area: header_logo;
    width: 100px;
    height: 100px;
    padding: 0 1rem 1rem 0;
}
.logo_img {
    margin: 1rem;
}

.header_title {
    grid-area: header_title;    
    place-content: center;

    padding: 1rem;
    margin: 0 1rem;
}
.headerTitleText {
    display: flex;
    place-content: center;
    color: white;

}

.skip_to_main { 
    position: absolute;
    background: dodgerblue;

    height: 15px;
    padding: 0;
    left: 41%;

    transform: translateY(-250%);
    /* transition: transform 0.3s; */

    text-decoration: none;
    color: white;
  }
  
.skip_to_main:focus {
    transform: translateY(0%);
}

.header_nav {
    grid-area: header_nav;

    display: flex;
    background-color: inherit;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    
    padding: 1rem 0;
    margin: 0 1rem;
}

.menu_button { 
    border: none;
    background: inherit; 
    text-decoration: underline;
    margin: 2rem 2rem 0 0;
    height: 1.2rem;

    tabindex: 0;
}
.hamburger_menu {
    height: 1rem;

    cursor: pointer;
}

.submenu {
    position: absolute;
    background-color: #eee;

    max-height: 0;
    padding-left: 0;
    margin: 3.2rem 2rem 0 0;

    overflow: hidden;
    list-style-type: none;
    visibility: hidden; 
    opacity: 0;
}
.submenu_open {
    max-height: 6.5rem; 
    visibility: visible; 
    opacity: 1; 
}
@media (prefers-reduced-motion: reduce) {
    .submenu, .submenu_open {
        transition: opacity 0.5s, max-height 0.5s, visibility 0.5s; 
    }
}

.submenu_item {
    padding: 0.5rem 1rem;
    margin: 0;
    text-align: center;
}

.submenu_item:hover {
    background-color: dodgerblue; 
}
.submenu_item:hover .header_link{
    color: white; 
}
.header_link {
    color: black;
    text-decoration: none;
}



/** main styling **/

.main {
    margin: 1rem;
}

.main_title {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0;
}
.register{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: whitesmoke;
    
    max-width: 30rem;
    height: auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 3rem auto;
}

.register_label{
    display: flex;
    flex-direction: column;

    margin: 1rem 12px 6px 12px;
    
    padding-right: 0;
}
.register_check_label {
    width: 100%;
}
.register_input{
    padding: 2px;
}
.register_check {
    margin-top: 1rem;
}
.tier_options {
    margin-top: 0.5rem;
}

.required_star{
    color: red;
}
.required_text{
    color: red;
    margin: 1rem 0.5rem;
}

.register_error{
    display: block;
    background-color: #ff000066;

    border-radius: 2px;
    padding: 6px;
    margin: 0 12px 3px 10px;
}

.register_error:empty{
    display: none;
}

.register_submit{
    padding: 8px;
    margin: 12px 12px;
    margin-top: 10rem;

    background-color: black;
    color: white;
    border-radius: 4px;
}
.register_submit:hover{
    cursor: pointer;
    background-color: dodgerblue;
    color: black;
}
.required_star, .required{
    margin: 4px 8px;
    text-align: left;
    color: red;
}

/** footer styling **/
footer {
    background-color: black;
    text-align: center;
}

.footer_links {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
}

.footer_link {
    color: white;
    grid-row: span 4;
    padding: 1rem 0;
}
.footer_link:hover {
    background-color: dodgerblue;
    color: black;
}

/* *********** */
/* Desktop CSS */
/* *********** */

@media (min-width: 44rem) {

    /* header modification */
    .header_title {
        padding: 0;
        margin-bottom: 0.5rem;
    }
    .headerTitleText {
        margin: 1rem 0;
    }
    
    .header_nav {
        grid-area: header_link;

        height: 1rem;
        padding: 0;
        margin: 0 0 1rem 0;
    }
    
    .menu_button {
        display: none;
    }
    .submenu {
        display: flex;
        flex-direction: row;

        position: static; 
        max-height: none;
        height: auto;

        visibility: visible; 
        opacity: 1;
        overflow: visible;

        
        justify-content: center;
        transition: none;

        margin:0 0 2rem 1rem; 
    }
    .submenu_item {
        padding: 0;
        margin: 0;
    }
    .submenu_item:hover .header_link{
        color: black; 
    }
    .header_link {
        padding: 1.1rem 5rem;
        color: white;
    }
    .header_link:hover {
        background-color: dodgerblue; 
    }


    /* main modification */

    .register {
        display: flex;
        flex-direction: column; 
        height: 30rem;
    }
    
    .register_label {
        display: flex;
        /* grid-template-columns: auto 1fr; */
        flex-direction: row;
        justify-content: space-between;
    }
    
    .register_input {
        width: 75%;
    }

    .register_check {
        width: 50%;
        margin: 0 2.5rem 0 0;
    }
    
    .tier_options {
        width: 50%;
        margin-right: 2.5rem;
    }

    .register_submit {
        margin-top: auto;
    }

    /* footer modification */
    .footer_links {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }
    
    .footer_link {
        color: white;
        grid-column: span 4;
        padding: 2rem 0;
    }
}