html, body {
    background-color: papayawhip;
    color: black;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Mobile styling */
/* header style */
header {
    display: grid;
    grid-template-areas: 
        "header_logo header_title header_nav";
    grid-template-columns: 1fr 4fr 1fr;
    background-color: burlywood;
}
.header_logo {
    grid-area: header_logo;

    padding: 1rem;
}
.header_title {
    grid-area: header_title;    
    place-content: center;

    padding: 1rem;
}
.headerTitleText {
    display: flex;
    place-content: center;
}
.header_nav {
    grid-area: header_nav;
    justify-content: center;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    margin: 0;
    list-style: none;
}
.menu_item {
    position: relative;
    padding: 0;
    margin-top: 2rem;
    margin-right: 1rem;
    text-align: center;
}
.menu_item button { 
    border: none;
    background: inherit; 
    color: blue;
    cursor: pointer; 
    text-decoration: underline;
    margin-left: 8px;
}
.menu_item:hover .submenu,
.menu_item:focus-within .submenu{
    max-height: inherit;
}
.submenu {
    position: absolute;
    background-color: papayawhip;

    max-height: 0;
    padding: 0;
    margin: 0;

    overflow: hidden;
    list-style-type: none;
}
.submenu_item {
    padding: 6px;
    margin: 0;
    text-align: center;
}
.header_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;

    gap: 1rem;
}

/* Main styling */
main {
    box-sizing: border-box;
    margin-bottom: 2rem;
    padding: 1rem;
}
.main_title {
    text-align: center;
}
.register{
    display: grid;
    background-color: whitesmoke;
    align-items: center;

    max-width: 50rem;
    max-height: 50rem;

    border: 1px solid black;
    border-radius: 8px;
    
    padding: 12px;
    margin: 0 auto;
}

.register_label{
    margin: 6px 12px;
    padding-right: 0;
}
.register_input{
    padding: 6px;
    margin: 8px 12px;
    padding-right: 0;
}
.register_submit{
    padding: 8px;
    margin: 12px 12px;
    margin-top: 3rem;
    min-width: 15rem;
    border-radius: 4px;

    justify-self: center;
    background-color: green;
    color: white;
}
.register_submit:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}
.required_star, .required{
    margin: 4px 8px;
    text-align: left;
    color: red;
    justify-content: center;
}

/* footer styling */
footer {
    background-color: burlywood;
    text-align: center;
    padding: 1rem;
}

/* Desktop Styling */
@media (min-width: 50rem){
    .register{
        grid-template-columns: auto 1fr;
        min-height: 30rem;
    }
    
    .register_label{
        margin-right: 0;
        justify-self: right;
    }
    .register_submit{
        grid-column: span 2;
    }
}

